html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 70vh;
  border-radius: 8px;
  margin-top: 1em;
  background: #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

circle,
.legend div {
  pointer-events: auto;

  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );

  fill: var(--color);
}

header,
header * {
    pointer-events: auto;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

header label {
  margin-left: auto;
  font-size: 0.9em;
}

#time-slider {
  width: 250px;
}

time,
em {
  display: block;
  text-align: right;
  font-size: 0.8em;
}

em {
  color: #666;
}

.legend {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 0.85em;
}

.legend::before {
  content: "LEGEND:";
  font-weight: bold;
  font-size: 0.8em;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

.legend div::before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  background: var(--color);
}